@import 'tailwindcss';
@plugin 'tailwindcss-animate';

:root {
  button {
    cursor: pointer;
  }
}

@theme {
  --font-heading: var(--font-roboto);
  --font-montserrat: var(--font-next-montserrat);
  --font-onest: var(--font-next-onest);
  --font-roboto: var(--font-next-roboto);
  --font-title: var(--font-montserrat);

  --color-input: #242424;
  --color-muted: #bbbbbb;
  --color-text: white;
  --color-background: black;
  --color-purple-m: #6a11cb;
  --color-mauve-m: #ad8cea;
  --color-lavender-m: #f9e7fe;
  --color-navy-m: #0007c4;
  --color-sky-m: #79c1ff;
  --color-azure-m: #2575fc;
  --color-clear-sky-m: #dafcfc;
  --color-teal-m: #50dfbc;

  --shadow-glow-sm: 0px 0px 5px 0px;
  --shadow-glow: 0px 0px 7.5px 0px;
  --shadow-glow-md: 0px 0px 10px 0px;
  --shadow-glow-lg: 0px 0px 12.5px 0px;

  --animate-shimmer: shimmer 2s linear infinite;
  --animate-gradient-shift: gradientShift 2s ease-in-out infinite;
    /* Animations */
  --animate-accordion-down: accordion-down 0.25s ease-out;
  --animate-accordion-up: accordion-up 0.25s ease-out;
  --animate-accordion-left: accordion-left 0.75s ease-in-out;
  --animate-accordion-right: accordion-right 0.5s ease-in-out;

  @keyframes accordion-down {
    from {
      height: 0px;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0px;
    }
  }

    @keyframes accordion-left {
    from {
      width: 50vw;
    }
    to {
      width: 0vw;
    }
  }

  @keyframes accordion-right {
    from {
      width: 0vw;
    }
    to {
      width: 50vw;
    }
  }
}

@keyframes shimmer {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -200% 0px;
  }
}

@keyframes gradientShift {
  0% {
    --tw-gradient-from: var(--color-purple-m);
    --tw-gradient-via: var(--color-azure-m);
    --tw-gradient-to: var(--color-green-600);
  }
  33% {
    --tw-gradient-via: var(--color-purple-m);
    --tw-gradient-to: var(--color-azure-m);
    --tw-gradient-from: var(--color-green-600);
  }
  67% {
    --tw-gradient-to: var(--color-purple-m);
    --tw-gradient-from: var(--color-azure-m);
    --tw-gradient-via: var(--color-green-600);
  }
  100% {
    --tw-gradient-from: var(--color-purple-m);
    --tw-gradient-via: var(--color-azure-m);
    --tw-gradient-to: var(--color-green-600);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  --bg-rd-opacity: 40%;
  --bg-rd-dimmed: 25%;
  --bg-rd-purple: color-mix(
    in oklab,
    var(--color-purple-m) var(--bg-rd-opacity),
    transparent
  );
  --bg-rd-azure: color-mix(
    in oklab,
    var(--color-azure-m) var(--bg-rd-opacity),
    transparent
  );
  --bg-rd-clear-sky: color-mix(
    in oklab,
    var(--color-clear-sky-m) var(--bg-rd-opacity),
    transparent
  );
  --bg-rd-purple-d: color-mix(
    in oklab,
    var(--color-purple-m) var(--bg-rd-dimmed),
    transparent
  );
  --bg-rd-azure-d: color-mix(
    in oklab,
    var(--color-azure-m) var(--bg-rd-dimmed),
    transparent
  );
  --bg-rd-clear-sky-d: color-mix(
    in oklab,
    var(--color-clear-sky-m) 12.5%,
    transparent
  );

  background: radial-gradient(
      at 110% 110%,
      var(--bg-rd-clear-sky),
      var(--bg-rd-clear-sky-d) 30%,
      transparent 50%
    ),
    radial-gradient(
      at -10% 110%,
      var(--bg-rd-purple),
      var(--bg-rd-purple-d) 30%,
      transparent 50%
    ),
    radial-gradient(
      at -10% -10%,
      var(--bg-rd-azure),
      var(--bg-rd-azure-d) 30%,
      transparent 50%
    ),
    black; /* Base background color */
  background-blend-mode: screen;
}
